
BODY
{
	overflow: hidden;
	background-color: transparent;
	font-family: 'Open Sans', sans-serif;
	-webkit-user-select: none;
	margin: 0;
	padding: 0;
	font-size: 12px;
	-webkit-font-smoothing: antialiased;
	outline: none;
}

INPUT
{
	-webkit-user-select: auto;
	font-size: 12px;
}

INPUT.searchbox, INPUT.gm_search
{
	border: 1px solid #ABADB3;
	border-radius: 3px;
	height: 24px;
	margin-top: 6px;
	padding: 4px;
}
INPUT.searchbox
{
	float: right;
	margin-right: 320px;
	width: 15%;
}
INPUT.gm_search
{
	width: 80%;
	margin-bottom: 5px;
}
INPUT[type="text"], INPUT[type="number"]
{
	border: 1px solid #ABADB3;
	border-radius: 2px;
	outline-color: rgb(145, 160, 173);
}

A
{
	text-decoration: none;
}

DIV.page
{	
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 50px;
}

UL.category
{
	margin: 10px;
	padding: 0;
}

UL.category LI:first-child
{
	list-style: none;
	padding: 5px;
	font-size: 32px;
	color: rgb(255, 255, 255);
}

UL.category LI:first-child small
{
	font-size: 14px;
	color: #999;
}

UL.category LI.icon
{
	display: inline-block;
}


.scrollable
{
	overflow: auto;
	right: 0px;
	top: 0px;
	left: 0px;
	bottom: 0px;
	position: absolute;
}

@keyframes animatebg {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes subtleGlow {
	0%, 100% {
		box-shadow: 0 0 5px rgba(138, 43, 226, 0.2), 0 0 10px rgba(75, 0, 130, 0.1);
	}
	50% {
		box-shadow: 0 0 15px rgba(138, 43, 226, 0.4), 0 0 25px rgba(75, 0, 130, 0.2);
	}
}

.btn-primary, .btn-primary-disabled
{
	background: linear-gradient(135deg, rgba(255, 255, 255, 0.15), rgba(138, 43, 226, 0.2), rgba(75, 0, 130, 0.25));
	animation: animatebg 20s ease-in-out infinite, subtleGlow 6s ease-in-out infinite;
	background-size: 300% 300%;
	border: 1px solid rgba(255, 255, 255, 0.2);
	color: rgba(255, 255, 255, 0.9);
	text-shadow: 0 0 8px rgba(138, 43, 226, 0.4), 0 1px 2px rgba(0, 0, 0, 0.8);
	border-radius: 12px;
	cursor: pointer;
	vertical-align: middle;
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.3);
	transition: all 0.3s ease;
	position: relative;
	overflow: hidden;
}

.whiterounded
{
	background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(138, 43, 226, 0.15), rgba(75, 0, 130, 0.2));
	border-radius: 16px;
	backdrop-filter: blur(20px);
	border: 1px solid rgba(255, 255, 255, 0.2);
	box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2);
}

.btn-primary-disabled
{
	border-color: #424242;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#888), to(#555));
}

.btn-primary:hover
{
	transform: translateY(-2px);
	box-shadow: 0 8px 32px rgba(138, 43, 226, 0.3), 0 0 16px rgba(75, 0, 130, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.4);
	border-color: rgba(255, 255, 255, 0.3);
	animation-duration: 10s;
}

.btn-primary::before {
	content: '';
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.15), transparent);
	transition: left 0.8s ease;
}

.btn-primary:hover::before {
	left: 100%;
}

.btn-back
{
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08C), to(#05C));
	border: 1px solid #CCC;
	border-color: #05C #05C #003580;
	color: white;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
	border-radius: 3px;
	cursor: pointer;
	vertical-align: middle;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	height: 24px;
}

.btn-back:hover
{
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2ae), to(#27e));
}

DIV.gridicon
{
	position: relative;
	-webkit-background-size: cover;
	height: 100px;
	width: 300px;
	float: left;
	margin: 3px;
	border-radius: 2px;
	background-position:center;
}

DIV.gridicon name
{
	position: absolute;
	display: block;
	left: 0px;
	right: 0px;
	height: 18px;
	top: 0px;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	overflow: hidden;
	white-space: nowrap;
	text-align: left;
	color: #333;
	padding: 8px;
	background-color: rgba( 255, 255, 255, 0.8 );
}

DIV.disabled name
{
	text-decoration: line-through;
	color: red;
}


DIV.disabled
{
	opacity: 0.6;
}

.topnav A
{
	color: #fff;
	margin: 0px 2px;
	background-color: #0af;
	padding: 1px 5px;
	border-radius: 2px;
	text-shadow: 1px 1px 0 #666;
}

.topnav A:hover
{
	text-shadow: none;
}

.topnav
{
	 background-color: white;
	 padding: 5px;
	 border-radius: 3px;
	 font-size: 11px;
}

.whiterounded
{
	background-color: rgba( 24, 7, 51, 0.9);
	border-radius: 4px;
}

pagination
{
	position: absolute;
	bottom: 4px;
	left: 0px;
	right: 0px;
	text-align: center;
	font-size: 17px;
	font-weight: bolder;
}


left
{
	float: left;
}

right
{
	float: right;
}

loading
{
	font-size: 48px;
	font-weight: bolder;
	color: #999;
	text-align: center;
	display: block;
	margin: 64px;
}

#version
{
	position: absolute;
	right: 3px;
	top: 3px;
	color: #aaa;
	font-size: 11px;
	font-weight: bold;
	padding: 5px;
	background-color: rgba( 0, 0, 0, 1.0 );
	border-radius: 3px;
	cursor: pointer;
	z-index: 1000;
}

.news {
	position: absolute;
	right: 50px;
	top: 75px;
}

.news_buttons {
	margin-top: 3px;
	display: block;
}
.news_buttons div {
	display: block;
	float: right;
	width: 16px;
	height: 16px;
	background: #666;
	margin-left: 3px;
	box-shadow: 0 0 10px 1px rgba( 0, 0, 0, 0.4 );
	cursor: hand;
}
.news_buttons div.new {
	background: #f55;
}
.news_buttons div.selected.new {
	background: #fcc;
}
.news_buttons div.selected {
	background: #eee;
}

.news_item {
	background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(138, 43, 226, 0.15), rgba(75, 0, 130, 0.2));
	background-size: 200% 200%;
	animation: animatebg 20s ease-in-out infinite;
	margin-right: 0px;
	margin-left: auto;
	box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3), 0 0 16px rgba(138, 43, 226, 0.2);
	height: 256px;
	width: 512px;
	position: relative;
	border-radius: 16px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	overflow: hidden;
}

.news_item div font {
	font-weight: normal;
	font-size: small;
	text-shadow: none;
	display: block;
}
.news_item div span:hover {
	color: #ffa;
	cursor: hand;
}
.news_item div {
	background: linear-gradient(135deg, rgba(255, 255, 255, 0.15), rgba(138, 43, 226, 0.2), rgba(75, 0, 130, 0.25));
	display: block;
	color: rgba(255, 255, 255, 0.9);
	padding: 8px;
	font-size: x-large;
	text-align: right;
	cursor: default;
	font-weight: bold;
	text-shadow: 0 0 8px rgba(138, 43, 226, 0.4), 0 1px 2px rgba(0, 0, 0, 0.8);

	box-sizing: border-box;
	position: absolute;
	bottom: 0px;
	width: 100%;
	left: 0;
	backdrop-filter: blur(10px);
}

/* 800x600 and lower */
@media (max-width: 800px)
{
	.news_item
	{
		height: 128px;
		width: 256px;
	}

	.news_item div font
	{
		font-size: x-small;
	}
	.news_item div
	{
		font-size: medium;
	}
}

/* 640x480 and lower */
@media (max-width: 640px)
{
	.news
	{
		right: 5px;
		top: 65px;
	}
}

