
#NavBar
{
	position: absolute;
	bottom: 0px;
	height: 50px;
	left: 0;
	right: 0;
	background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(138, 43, 226, 0.15), rgba(75, 0, 130, 0.2));
	backdrop-filter: blur(20px);
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	box-shadow: 0 -8px 32px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2);
	border-radius: 16px 16px 0 0;
}

#NavBar UL
{
	display: block;
	margin: 0;
	padding: 0;
}

#NavBar .left
{
	text-align: left;
	margin-left: 10px;
	float: left;
	display: block;
	margin: 0;
	padding: 0;
}

#NavBar .right
{
	float: right;
	text-align: right;
	/*width: 350px;*/
	right: 0;
	display: block;
	margin: 0;
	padding: 0;
	margin-left: 10%;
}

#NavBar .smallicon
{
	min-width: 40px;
	padding: 0;
	text-align: center;
}
#NavBar .smallicon.hidelabel span
{
	padding-left: 35px;
}

#NavBar .smallicon img
{
	margin-top: 7px;
	margin-left: 7px;
}

#NavBar .bigicon
{
	min-width: 5px;
}

#NavBar .bigicon img
{
	margin-top: -1px;
	margin-left: -1px;
}

#NavBar UL.center
{
	text-align: center;
	left: 0;
	right: 0;
}

#NavBar .right li:hover, #NavBar .center li:hover
{
	transition: all 0.3s ease;
	box-shadow: 0 8px 32px rgba(138, 43, 226, 0.3), 0 0 16px rgba(75, 0, 130, 0.2);
	transform: translateY(-2px);
	background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(138, 43, 226, 0.25), rgba(75, 0, 130, 0.3));
	border-color: rgba(255, 255, 255, 0.3);
}

@keyframes animatebg {
	0% {
		background-position: 0;
	}
	50% {
		background-position: 100%;
	}
	100% {
		background-position: 0;
	}
}

#NavBar LI, UL.popup LI, #NavBar .button
{
	display: inline-block;
	transition: all 0.3s ease;
	background: linear-gradient(135deg, rgba(255, 255, 255, 0.15), rgba(138, 43, 226, 0.2), rgba(75, 0, 130, 0.25));
	animation: animatebg 20s ease-in-out infinite;
	background-size: 300% 300%;
	border-radius: 12px;
	height: 40px;
	padding-left: 35px;
	position: relative;
	margin-right: 3px;
	margin-top: 5px;
	font-size: 11px;
	text-align: left;
	font-weight: bold;
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	border: 1px solid rgba(255, 255, 255, 0.2);
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.3);
}

#NavBar .button
{
	display: block;
	padding: 4px 5px 0px 5px;
	height: 36px;
	margin-left: 5px;
	vertical-align: top;
}

#NavBar .button:hover
{
	box-shadow: 0 0 20px rgba(138, 43, 226, 0.5), 0 0 30px rgba(75, 0, 130, 0.3);
	transform: translateY(-3px);
	border-color: rgba(138, 43, 226, 0.4);
	animation-duration: 8s;
}

#NavBar LI
{
	display: block;
	float: right;
}

#NavBar LI SPAN, UL.gamemode_list LI SPAN, UL.language_list LI SPAN
{ 	
	color: rgba(255, 255, 255, 0.9);
	position: relative;
	top: 13px;
	padding-left: 10px;
	padding-right: 10px;
	text-shadow: 0 0 8px rgba(138, 43, 226, 0.4), 0 1px 2px rgba(0, 0, 0, 0.8);
}

#NavBar LI IMG, UL.gamemode_list LI IMG, UL.language_list LI IMG
{
	position: absolute;
	left: 5px;
	top: 5px;
}

#NavBar number
{
	background: #d9d9d9;
	padding: 5px;
	position: absolute;
	top: -10px;
	left: -7px;
	border-radius: 4px;
}

#NavBar number.severity1
{
	background: #ffc800;
}

#NavBar number.severity2
{
	background: #ff4000;
	color: white;
}

UL.games_list
{
	right: 150px;
	width: 230px;
	overflow: auto;
	max-height: 300px;
	padding: 0;
	border: 3px solid #333;
}

UL.games_list LI
{
	padding: 0;
	height: 20px;
	line-height: inherit;
	white-space: nowrap;
	overflow: hidden;
	display: block;
	border-radius: 2px;
	margin: 0;
	margin-right: 2px;
	margin-bottom: 2px;
	position: relative;
}

UL.games_list LI:last-child
{
	margin-bottom: 0px;
}

UL.games_list LI span
{
	color: white;
	position: absolute;
	left: 25px;
	right: 22px;
	top: 3px;
}

UL.games_list LI IMG
{
	position: absolute;
	left: 2px;
	top: 2px;
}

UL.games_list LI.notinstalled
{
	opacity: 0.7;
	cursor: default;
}

UL.games_list LI.notowned
{
	opacity: 0.7;
	cursor: default;
}

UL.gamemode_list
{
	overflow: auto;
	max-height: 80%;
	border: 3px solid #333;
}

UL.gamemode_list LI
{
	display: inherit;
	margin: 3px;
	border-radius: 0;
	background-color: #eee;
	margin: 0 2px 2px 0;
}

UL.gamemode_list LI:hover
{
	background-color: #fff;
}

UL.gamemode_list LI:first-child
{
	border-radius: 3px 3px 0 0;
}

UL.gamemode_list LI:last-child
{
	margin-bottom: 0;
	border-radius: 0 0 3px 3px;
}

UL.language_list
{
	right: 10px;
	background-color: rgb(0, 174, 255,0);
	text-align: center;
	/* border: 3px solid rgb(243, 243, 243); */
}

UL.language_list LI
{
	display: inline-block;
	width: 26px;
	height: 24px;
	padding: 0;
	background-color: transparent;
}

UL.language_list LI IMG
{
	border: 1px solid #888;
}

UL.language_list LI:hover
{
	background-color: #fff;
}

::-webkit-scrollbar
{
	width: 8px;
	height: 8px;
	background-color: rgb( 250, 250, 250 );
	border-radius: 1px;
}

::-webkit-scrollbar-thumb
{
	background-color: rgb( 180, 180, 180);
	border-radius: 2px;
}

.popup
{
	position: absolute;
	bottom: 50px;
	right: 10px;
	width: 230px;
	background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(138, 43, 226, 0.15), rgba(75, 0, 130, 0.2));
	backdrop-filter: blur(20px);
	z-index: 1000;
	padding: 0px;
	border-radius: 16px;
	list-style: none;
	margin: 3px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2);
}

.popup HR
{
	margin-right: 2px;
}

.kinect_settings
{
	right: 150px;
	width: 230px;
	overflow: auto;
	max-height: 300px;
	padding: 0;
	border: 3px solid #333;
}

.kinect_settings LI
{
	display: block !important;
	margin: 0 !important;
	height: auto !important;
	padding: 2px 16px !important;
}

/* 800x600 and lower */
@media (max-width: 940px)
{
	#NavBar .hidelabel span
	{
		display: none;
	}
	#NavBar .right
	{
		margin-left: 15px;
	}
}
